@using SocialNet.Core.Application.ViewModels.Publication;
@using SocialNet.Core.Application.ViewModels.User;
@using SocialNet.Core.Application.ViewModels.Commentary;
@model List<PublicationViewModel>;
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-3">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-light">
                <h4>Filtros</h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">Amigos</h4>
                //si la lista de amigos no es null, traer la lista de amigos 
                @foreach (UserViewModel friend in ViewBag.Friend)
                {
                    <div class="mb-3">
                        <div class="">
                            <p>@friend.Name @friend.LastName </p>
                            <p>@friend.UserName</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row">

            @if (Model == null || Model.Count == 0)
            {
                <h2>No hay publicaciones</h2>
            }
            else
            {
                @foreach (PublicationViewModel item in Model)
                {
                    <div class="col-4">
                        <div class="card" style="width:750px;">
                            <div class="card-header">

                            </div>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <img src="@item.ImageUrl" class="card-img-top" alt="...">
                            <div class="card-body">
                                @foreach (ComentaryViewModel comentary in item.ComentaryPublication)
                                {
                                    <img src="@comentary.UserOwner.ImageUrl" alt="Alternate Text" />
                                    <p>@comentary.UserOwner.Name @comentary.UserOwner.LastName</p>

                                    <p>@comentary.UserComentary</p>
                                }
                            </div>
                        </div>

                    </div>

                }
            }
        </div>
    </div>
</div>

