@using SocialNet.Core.Application.ViewModels.Publication;
@using SocialNet.Core.Application.ViewModels.User;
@using SocialNet.Core.Application.ViewModels.Commentary;
@model SavePublicationViewModel;
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "FaceBook";
}

<div class="row">
    <div class="col-3">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-light">
                <h4>Amigos</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Home" asp-action="DeleteFriend">
                    @if (Model.Friends != null)
                    {
                        @foreach (UserViewModel friend in Model.Friends)
                        {
                            <div class="mb-3">
                                <div class="">
                                    <p>@friend.Name @friend.LastName </p>
                                    <p><b>@friend.UserName</b></p>
                                </div>
                                <a asp-controller="Home" asp-action="DeleteFriend" asp-route-id="@friend.Id" class="btn  btn-danger">Delete Friend</a>

                            </div>
                            <hr />
                            <input type="hidden" asp-for="@friend.Id" />
                        }
                    }
                    else
                    {
                        <h4>No hay amistades</h4>
                    }
                </form>

            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row">

            @if (Model.Publications == null || Model.Publications.Count == 0)
            {
                <h2>No hay publicaciones</h2>
            }
            else
            {
                @foreach (PublicationViewModel item in Model.Publications)
                {
                    <div class="col-4">
                        <div class="card" style="width:750px;">
                            <div class="card-header">
                                <img src="@item.OwnerPublication.ImageUrl" alt="Alternate Text" style="border-radius: 50%; height: 45px; width: 45px;" />
                                @item.OwnerPublication.Name @item.OwnerPublication.LastName
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <a asp-controller="Home" asp-action="UpdatePublication" asp-route-id="@item.Id" class="">Editar</a>
                                <a asp-controller="Home" asp-action="DeletePublication" asp-route-id="@item.Id" class="">Borrar</a>
                            </div>
                            <p class="card-text">@item.Body</p>
                            @if (item.ImageUrl != null)
                            {
                                <img src="@item.ImageUrl" class="card-img-top" alt="...">
                            }
                            <div class="card-body">
                                @if (item.ComentaryPublication != null || item.ComentaryPublication.Count > 0)
                                {
                                    @foreach (ComentaryViewModel comentary in item.ComentaryPublication)
                                    {
                                        <img src="@comentary.UserOwner.ImageUrl" alt="Alternate Text" />
                                        <p>@comentary.UserOwner.Name @comentary.UserOwner.LastName</p>

                                        <p>@comentary.UserComentary</p>
                                    }
                                }

                            </div>
                        </div>

                    </div>

                }
            }
        </div>
    </div>
    <div class="col-3">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-light">
                <h4>Usuarios</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Home" asp-action="DeleteFriend">
                    @if (Model.Users != null)
                    {
                        @foreach (UserViewModel user in Model.Users)
                        {
                            <div class="mb-3">
                                <div class="">
                                    <p>@user.Name @user.LastName </p>
                                    <p><b>@user.UserName</b></p>
                                </div>
                                <a asp-controller="Home" asp-action="AddFriend" asp-route-id="@user.Id" class="btn  btn-success">Add Friend</a>

                            </div>
                            <hr />
                            <input type="hidden" asp-for="@user.Id" />
                        }
                    }
                    else
                    {
                        <h4>Nay usuarios para agregar para amigos o no hay usuarios</h4>
                    }
                </form>


            </div>
        </div>
    </div>

</div>

